@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #ff833e;
  --primary-color-dark: #db6f35;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.navBar {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.navlogo a {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.menuIcon {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.navLinks {
  position: absolute;

  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.navLinks.open {
  transform: translateY(0);
  top: 48px;
}

.navLinks a {
  font-weight: 500;
  color: var(--white);
}

.navLinks a:hover {
  color: var(--text-dark);
}

.navCta {
  display: none;
}

.headerContainer {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 8rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
}

.headerImage {
  position: relative;
  isolation: isolate;
}

.headerImage::before {
  position: absolute;
  content: "";
  width: 100%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/joshua-rawson-harris-KRELIShKxTM-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -1;
}

.headerImage img {
  max-width: 520px;
  margin-inline: auto;
}

.headerImageCard {
  position: absolute;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
  background-color: var(--white);
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.headerImageCard span {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
}

.headerImageCard-1 {
  top: 25%;
  left: 0;
  transform: translate(-50%, -50%);
}

.headerImageCard-2 {
  top: 10%;
  right: 2rem;
  transform: translateY(-50%);
}

.headerImageCard-3 {
  top: 60%;
  right: 0;
  transform: translateY(-50%);
}

.headerImageCard-4 {
  top: 70%;
  left: 0;
  transform: translateY(-50%);
}

.headerContent h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 5.5rem;
  text-align: center;
}

.headerContent h1 span {
  color: var(--primary-color);
}

.headerContent p {
  margin-bottom: 2rem;
  columns: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.headerContent form {
  margin-bottom: 4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem 0;
  border-radius: calc(1rem + 10px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

@media (width > 768px) {
  nav {
    margin: 16px;
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .navBar {
    flex: 1;
    padding: 0rem;
    background-color: transparent;
  }

  .navlogo a {
    color: var(--text-dark);
  }

  .navlogo a span {
    color: var(--primary-color);
  }

  .menuIcon {
    display: none;
  }
  .navLinks {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .navLinks a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 4px solid transparent;
  }

  .navLinks a:hover {
    border-color: var(--primary-color);
  }

  .navCta {
    display: flex;
    flex: 1;
  }

  .navCta .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .signUp {
    color: var(--text-dark);
    background-color: transparent;
  }

  .signUp:hover {
    color: var(--primary-color);
  }

  .signIn {
    color: var(--white);
    background-color: var(--primary-color);
    transition: 0.3s;
  }

  .signIn:hover {
    background-color: var(--primary-color-dark);
  }

  .headerContainer {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .headerImage {
    grid-area: 1/2/2/3;
  }
}
